In [11]:
tu = (23,'abc', 4.56, (2,3), 'def')
tu

'abc'

In [7]:
li = ["abc", 34, 4.34, 23]
li

['abc', 34, 4.34, 23]

In [8]:
st ="Hello World"
st

'Hello World'

In [9]:

st = 'Hello World'
st

'Hello World'

In [10]:

st = """This is a multi-line
string that uses triple quotes."""
st

'This is a multi-line\nstring that uses triple quotes.'

In [ ]:
tu = (23,'abc', 4.56, (2,3), 'def')

tu[1]

In [ ]:
li = ["abc", 34, 4.34, 23]
li[1]

In [12]:
st ="Hello World"
st[1]

'e'

In [13]:

st = 'Hello World'
st[1]

'e'

In [14]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:4]

('abc', 4.56, (2, 3))

In [15]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1]

('abc', 4.56, (2, 3))

In [16]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1:2]

('abc', (2, 3))

In [17]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]

(23, 'abc')

In [18]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[2:]

(4.56, (2, 3), 'def')

In [19]:
t = [1, 2, 4, 5]
3 in t

False

In [20]:
t = [1, 2, 4, 5]
4 in t

True

In [21]:
t = [1, 2, 4, 5]
4 not in t

False

In [22]:
a = 'abcde'
'c' in a

True

In [23]:
a = 'abcde'
'cd' in a

True

In [24]:
a = 'abcde'
'ac' in a

False

In [25]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [26]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [27]:
"Hello" + " " + "World"

'Hello World'