In [1]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu

(23, 'abc', 4.56, (2, 3), 'def')

In [ ]:
li = ["abc", 34, 4.34, 23]
li

In [3]:
st = "Hello World"
print(st)
st = 'Hello World'
print(st)
st = """This is a multi-line
string that uses triple quotes."""
print(st)

Hello World
Hello World
This is a multi-line
 string that uses triple quotes.

In [4]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1]

'abc'

In [5]:
li = ["abc", 34, 4.34, 23]
li[1]

34

In [6]:
st = "Hello World"
st[1]

'e'

In [9]:
t = (23, 'abc', 4.56, (2,3), 'def')
print(t[1])
print(t[-3])

abc
4.56

In [10]:
t = (23, 'abc', 4.56, (2,3), 'def')
print(t[1:4])
print(t[1:-1])
print(t[1:-1:2])

('abc', 4.56, (2, 3))
('abc', 4.56, (2, 3))
('abc', (2, 3))

In [11]:
print(t[:2])
print(t[2:])
print(t[:])

(23, 'abc')
(4.56, (2, 3), 'def')

In [12]:
t = [1, 2, 4, 5]
print(3 in t)
print(4 in t)
print(4 not in t)

False
True
False

In [13]:
a = 'abcde'
print('c' in a)
print('cd' in a)
print('ac' in a)

True
True
False

In [14]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [15]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [16]:
"Hello" + " " + "World"

'Hello World'